doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Add / Update a Vehicle
        form(method="POST" action="/update-cobj")
            label(for="name") Name
            input(type="text" name="name" id="name" required)
            label(for="registrationnumber") Registration Number
            input(type="text" name="registrationnumber" id="registrationnumber" required)
            label(for="yom") Year of Manufacture
            input(type="text" name="yom" id="yom" required)
            button(type="submit") Save
        a(href="/") Return to the homepage
